:root {
    --background: #1e1e1e;
    --text: #FFFFFF;
    --maingreen: #23D042;
    --shop-item: #2C2C2C; 
}

* {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    transition: 150ms;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

body.no-scroll {
    overflow: hidden;
}

.main-button {
    background-color: var(--maingreen);
}

.action {
    transition: all 0.5s ease-in-out;
}

h1, header, #desktop-drawer {
    font-family: 'Oxanium', 'Roboto', sans-serif;
}

.hamburger-line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 3px;
    background-color: white;
    border-radius: 9999px;
    transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

/* Initial Positions */
.line-1 { top: 30%; }
.line-2 { top: 50%; }
.line-3 { top: 70%; }

/* Opened State Transformations */
.open .line-1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.open .line-2 {
    opacity: 0;
    transform: translate(-100%, -50%);
}
.open .line-3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}